# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=92f34abd4a21787dbebfd56a64ee11c7
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^(localhost|example\.com)$'
###< symfony/framework-bundle ###

###> symfony/mailer ###
# MAILER_DSN=smtp://elipsa-mailcatcher:1025
  MAILER_DSN=gmail://smtp.server85:rgzjwgwtmkdrkmub@default
###< symfony/mailer ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# For a PostgreSQL database, use: "postgresql://db_user:db_password@127.0.0.1:5432/db_name?serverVersion=11&charset=utf8"
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
DATABASE_URL=mysql://root:vlada123!!!@elipsa-mysql:3306/elipsa?serverVersion=5.7
###< doctrine/doctrine-bundle ###
SITE_URL=elipsa.rs
SITE_SCHEME=https
GOOGLE_MAPS_API=AIzaSyCMICDan60V1VxLc0oGCNDvtbcbAjYFX_Q
GOOGLE_RECAPTCHA_KEY_SITE=6Lf4Ys0ZAAAAACujwnIhIKSq0k2tSnXB69Ktb4sX
GOOGLE_RECAPTCHA_KEY_SECRET=6Lf4Ys0ZAAAAAMsrT7-vUICrvz3gK17feCj5bmVj
GOOGLE_ANALYTICS_API_KEY=UA-15209595-5
###> symfony/google-mailer ###
# Gmail SHOULD NOT be used on production, use it in development only.
# MAILER_DSN=gmail://USERNAME:PASSWORD@default
###< symfony/google-mailer ###
MAILCHIMP_API=fb4fad3fd4fc208f0c4de61a583c7f73-us12
MAILCHIMP_LIST_ID=a9791f55fa
FB_ID=153805558078397
SENTRY_JAVASCRIPT_DSN=https://6ed201f868844b3fbc0ef5ffdbcc3187@o419240.ingest.sentry.io/5330528

URL=https://elipsa.rs/

###> Intesa Payment Config ###
GATEWAY=https://testsecurepay.eway2pay.com/fim/est3Dgate
API_GATEWAY=https://testsecurepay.eway2pay.com/fim/api
MERCHANT_ID=13IN000896
STORE_KEY=Elipsa123.
USERNAME=JOVadmin
PASSWORD=Elipsa123.
###< Intesa Payment Config ###

###> sentry/sentry-symfony ###
SENTRY_DSN=
###< sentry/sentry-symfony ###
DEFAULT_LOCALE=rs
LOCALES=rs|en

YOUTUBE_API_KEY=AIzaSyALbLiL4xtEWtsqyAg9_pOa3a4dO-VP1r8
