.idea
migrations
node_modules

storage/cache
storage/import
storage/tmp/*
storage/image/*

###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
/public/build/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
/docker/mysql-mount/
/public/sitemap.blog_images_en.xml.gz
/public/sitemap.blog_images_rs.xml.gz
/public/sitemap.blog_page_en.xml.gz
/public/sitemap.blog_page_rs.xml.gz
/public/sitemap.category_page_en.xml.gz
/public/sitemap.category_page_mobile_en.xml.gz
/public/sitemap.category_page_mobile_rs.xml.gz
/public/sitemap.category_page_rs.xml.gz
/public/sitemap.default.xml.gz
/public/sitemap.products_en.xml.gz
/public/sitemap.products_images_en.xml.gz
/public/sitemap.products_images_rs.xml.gz
/public/sitemap.products_mobile_en.xml.gz
/public/sitemap.products_mobile_rs.xml.gz
/public/sitemap.products_rs.xml.gz
/public/sitemap.xml
