#registration_form_btn_wrapper {
  #registration_form_btn {
    border: 1px solid #000000;
    color: #000000;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    margin-bottom: 20px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
  }
}
