@import "../colors";

.mobile {
  .header-area {
    //background: $black-color;
    //position: fixed;
    //left: 0;
    //right: 0;
    //bottom: 0;
    //z-index: 1000000;
    padding: 7px 0;
    display: flex;
    align-items: center;

    .logo {
      img {
        width: 100px !important;
      }
    }

    .mobile-user-area {
      display: flex;
      justify-content: end;
      align-items: center;

      .mobile-user-item {
        margin-right: 10px;
        padding: 0 10px;

        &:last-of-type {
          margin-right: 0;
          padding-right: 0;
        }

        a {
          .fa {
            font-size: 25px;
          }

          &:before {
            content: unset !important;
          }

          &:after {
            content: unset !important;
          }
        }

        .drop-down-area {
          box-shadow: -5.44px 4.405px 18px 0 rgba(0, 0, 0, 0.1);
          opacity: 0;
          transform: translateY(-15px);
          transition: all 0.3s ease 0s;
          visibility: hidden;
          position: absolute;
          right: 8px;
          width: 96vw;
          background: #fff;
          z-index: 99990;

          &-active {
            opacity: 1;
            transform: translateY(0);
            visibility: visible;
          }

          > h3 {
            border-bottom: 1px solid;
            padding: 10px 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          .drop-down-list {
            list-style: outside none none;
            padding: 10px 15px;

            li {

              a {
                color: $gray-color;
                display: block;
                letter-spacing: 0;
                padding: 5px 0;
                position: relative;
                font-size: 15px;

                &:hover {
                  color: $site-color;
                }

                &.selected {
                  font-weight: bold;
                  color: $site-color;
                }
              }
            }
          }

          .cart-wrapper {
            padding: 10px 15px;

            .my-cart-products {
              .fa {
                font-size: 14px;
              }
            }
          }

          .mobile-login-registration-area {
            padding: 10px 15px;
          }
        }
      }
    }

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;

      &.user-language {
        justify-content: end;
      }

      li {
        margin-right: 30px;

        &:last-of-type {
          margin-right: 0;
        }

        a {
          //color: $white;

          .fa {
            font-size: 25px;
          }
        }
      }
    }
  }
}
