@import "../../../scss/media-queries";

.single-featured-item {
  .sfi-img {
    position: relative;

    .product-sold {
      position: absolute;
      top: 0;
      left: 0;
      //top: 44%;
      //right: -53%;
      //background: $site-color;
      //font-size: 20px;
      //color: white;
      //rotate: 303deg;
      //padding: 0 19vh;
      //
      //@include xs {
      //  padding: 0 11vh;
      //}
      //
      //@include xss {
      //  font-size: 13px;
      //  padding: 0 10vh;
      //}
      //
      //@include sm {
      //  padding: 0 49vh;
      //}
    }

    .sfi-img-banner {
      &.product-discount {
        left: 20px;
        right: unset;
      }

      &.free-shipping {
        right: 20px;
        line-height: normal;
        text-align: center;
        padding: 5px 5px;
        background: #28a745 none repeat scroll 0 0;
        background-image: linear-gradient(to bottom, transparent, rgba(21,21,21,0.5));
        max-width: 65px;
        word-wrap: break-word;

        &::before {
          border-left: 1.6vw solid #1f5e2d;
        }

        &::after {
          border-right: 1.6vw solid #1f5e2d;
        }
      }

      &::before {
        border-left: 1.6vw solid #a70303;
      }

      &::after {
        border-right: 1.6vw solid #a70303;
      }

      span {
        font-size: 12px;
      }
    }

    .sizes {
      .unavailable {
        text-decoration: line-through;
        opacity: 0.5;
      }
    }
  }

  .sfi-price-rating {
    .sfi-old-price {
      font-size: 10px !important;
      text-decoration: line-through;
    }

    p {
      line-height: 15px;
    }

    .discount-price {
      display: flex;
      justify-content: space-between;

      .price-saving {
        font-size: 12px;
        font-weight: 700;
        color: $site-color;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
      }
    }
  }

  @media only screen and (min-width: 240px) and (max-width: 480px) {
    .sfi-price-rating {
      .discount-price {
        flex-direction: column;
      }
    }
  }

  @media only screen and (min-width: 240px) and (max-width: 768px) {
    .sfi-img {
      .sfi-img-banner {
        padding: 2px 5px;

        &.product-discount {
          left: 0;
        }

        &::before {
          border-left: 1.5em solid #a70303;
          bottom: -13px;
        }

        &::after {
          border-right: 1.5em solid #a70303;
          bottom: -13px;
        }
      }
    }
  }
}
