.single-featured-item {
  .sfi-img {
    .product-sold {
      position: absolute;
      top: 0;
      right: 0;
      background: $dark-gray-color;
      padding: 0 5px;
      font-size: 10px;
      color: white;
    }

    .sfi-img-banner {
      &.product-discount {
        left: 20px;
        right: unset;
      }

      &::before {
        border-left: 1.6vw solid #a70303;
      }

      &::after {
        border-right: 1.6vw solid #a70303;
      }

      span {
        font-size: 12px;
      }
    }
  }

  .sfi-price-rating {
    .sfi-old-price {
      font-size: 10px !important;
      text-decoration: line-through;
    }

    p {
      line-height: 15px;
    }

    .discount-price {
      display: flex;
      justify-content: space-between;

      .price-saving {
        font-size: 12px;
        font-weight: 700;
        color: $site-color;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
      }
    }
  }
}
