body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../../img/bg-index.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome-logo-wrapper {
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 370px;
}
.welcome-logo img {
  width: 370px;
  margin: 0 auto 60px;
}
.welcome-logo-wrapper .label {
  text-align: left;
  color: #232530;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  padding: 16px 0;
  font-family: 'Montserrat', sans-serif;
}
.welcome-buttons-wrapper {
  text-align: center;
  margin-top: 0px;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}
.welcome-buttons-wrapper .styled-select {
  flex-grow: 1;
  display: flex;
}
.country-btn {
  background: #ed1d7f none repeat scroll 0 0;
  border: 0 none;
  border-radius: 3px;
  color: #fff !important;
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
}
.country-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #ed1d7f none repeat scroll 0 0;
}
select {
  border: 0 none;
  border-bottom: 1px solid #e5e5e5;
  color: #646a7c;
  float: right;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  padding: 0 10px;
  margin-right: 20px;
  width: 100%;
}