@import "../colors";

.sidebar-accordion-button {
  &::after {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    right: 0;
  }

  &.collapsed::after {
    content: "\f067";
    font-family: FontAwesome;
    position: absolute;
    right: 0;
  }
}

#filter-btn-open {
  background: $black-color;
  border-radius: 0;
  bottom: 35px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0) inset;
  color: white;
  cursor: pointer;
  font-size: 17px;
  height: 40px;
  line-height: 20px;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0;
  position: fixed;
  right: 10px;
  text-align: center;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  width: 40px;
  z-index: 9999;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-y: scroll; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 0; /* 25% from the top */
  width: 100%; /* 100% width */
  margin-top: 0; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay .filter-close-icon {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay .filter-close-icon:hover, .overlay .filter-close-icon:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay .btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.mobile-view {
  padding: 20px;

  * {
    color: #ffffff !important;
  }

  .priceslider input[type="text"] {
    background: transparent;
  }
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
