.checkout-page {
  #checkout-form {
    .billing-address-input, .cbab-account-password {
      position: relative;

      .input-error {
        border-bottom-color: #ff0000;
      }

      .error.help-block {
        position: absolute;
        right: 0;
        bottom: -36px;
        font-size: 12px;
        color: #ff0000;
      }
    }

    .select-payment-method {
      &.terms-and-conditions {
        display: flex;
        align-items: center;
        line-height: normal;
      }
    }
  }

  .error.help-block {
    font-size: 12px;
    color: #ff0000;
  }
}