@import "../Components/radio_button";
@import "../../../scss/media-queries";

.checkout-page {
  .checkout-area {
    padding-bottom: 20px;

    #checkout-form {
      .billing-address-input, .cbab-account-password {
        position: relative;

        .input-error {
          border-bottom-color: #ff0000;
        }

        .error.help-block {
          position: absolute;
          right: 0;
          bottom: -36px;
          font-size: 12px;
          color: #ff0000;
        }
      }

      .select-payment-method {
        &.policy {
          display: flex;
          align-items: center;
          line-height: normal;
          justify-content: space-between;

          > div {
            display: flex;
            align-items: center;
            line-height: normal;
            max-width: 90%;

            input[type=checkbox] {
              margin: 0;
            }
          }
        }
      }

      .yob-content {
        padding-bottom: 25px;
      }

      .payment-type-images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        margin-bottom: 0 !important;

        img {
          height: 20px;
        }
      }
    }

    .error.help-block {
      font-size: 12px;
      color: #ff0000;
    }
  }

  &.mobile {
    @include xss-xs {
      .billing-address-input {
        label {
          margin: 0 !important;
        }

        input[type="email"],
        input[type="tel"] {
          width: 100% !important;
        }
      }
    }
  }
}
