@import "~nivo-slider/nivo-slider.css";
@import "../Components/common-product";

.nivoSlider {
  a.nivo-imageLink {
    z-index: 1000;
  }
  .nivo-caption {
    overflow: visible;
    bottom: 20%;
    color: #000;

    .slide3-text {
      margin-left: 2.5vw;
      margin-right: 2.5vw;
    }
  }
}

.home3-banner-area {
  .home3-row {
    .home3-banner-column {
      display: flex;
      justify-content: center;

      &.home-middle-banners {
        flex-direction: column;

        > a {
          &:first-of-type {
            margin-bottom: 3.4rem;
          }
        }
      }

      > a {
        flex-grow: 1;

        .h3b-single-banner {

          margin-bottom: 0;

          .h3b-img {

            img {
              min-width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

.home{
  #promotion-bar {
    color: #fff;
    background: #A70303;
    background: radial-gradient(circle, rgba(167, 3, 3, 1) 53%, rgba(255, 255, 255, 1) 99%);

    .container > a {
      display: flex;
      justify-content: center;
      align-items: center;

      #promotion-title {
        color: #fff;
        margin-right: 30px;
        font-size: 16px;
      }

      #countdown {
        display: flex;
        justify-content: center;

        p {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          padding: 5px 18px;
          color: white;
          font-size: 14px;
          font-weight: 600;

          span {
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
          }
        }
      }

      #promotion-link {
        background: #fff none repeat scroll 0 0;;
        border: 0 none;
        border-radius: 3px;
        color: #a70303;
        padding: 5px;
      }
    }
  }
}

.mobile.home {
  #home3_slider {

    .nivo-caption {
      overflow: visible;
      bottom: 2%;
      .slide3-text {
        margin-left: 0;
        margin-right: 0;

        * {
          margin-bottom: 4px !important;
        }

        .cap-view {
          margin-top: 20px !important;
          position: absolute;
          bottom: -40px;
          a {
            font-size: 15px !important;
            padding: 5px 10px;
            border-radius: 0;
          }
        }
      }
    }

    .nivo-directionNav > a {
      height: 30px;
      line-height: 30px;
      width: 30px;
    }
  }

  .home3-banner-area {
    padding-bottom: 1rem;

    .home3-row {
      @media only screen and (min-width: 600px) and (max-width: 950px) {
        display: flex;
        margin-bottom: 2rem;
      }

      .home-middle-banners {

        @media only screen and (min-width: 600px) and (max-width: 950px) {
          flex-direction: row;
        }
      }
    }
  }

  .home3-newsletter-area {
    @media only screen and (max-width: 767px) {
      height: calc(100vw/2);
    }
    .h3-newsletter-left {
      @media only screen and (max-width: 767px) and (min-width: 480px) {
        padding-left: 0;
        text-align: center;
        margin-bottom: 20px !important;
      }
    }

    .h3-newsletter-form {
      .h3-newsletter-input {
        > a {
          @media only screen and (max-width: 767px) {
            position: unset;
            transform: none !important;
            display: block;
            padding: 0;
            text-align: center;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 480px) and (min-width: 240px) {
    .owl-item {
      > div {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  #promotion-bar {
    .container > a {
      flex-wrap: wrap;

      #promotion-title {
        font-size: 15px;
        margin: 0;
      }

      #countdown {
        p {
          padding: 0px 5px;
          font-size: 14px;
        }
      }
    }
  }
}

.home {
  .featured-items {
    .single-featured-item {
      margin-bottom: 0 !important;
    }
  }
}
