@import "../colors";

.order-finish-page {

  .shopping-cart-table {
    margin-bottom: 20px;
  }

  .billing-address {
    margin-bottom: 20px;

    .billing-address-input {
      > label {
        font-weight: bold;
      }
    }
  }

  .product_price {
    display: block;

    &.old-price {
      font-size: 12px !important;
      text-decoration: line-through;
      color: $old-price;
    }
  }

  @media only screen and (max-width: 480px) and (min-width: 240px) {
    .billing-address-input {
      > label {
        margin-bottom: 0 !important;
      }
    }
  }
}
