@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";
@import "~owl.carousel";
@import "../Components/common-product";
@import "../../../scss/laundry/pe-laundry-icons.css";
@import "~@staaky/tipped/dist/css/tipped.css";

.product-page {
  .spd-select-color {
    display: flex;
    align-items: center;

    span {
      display: inline-block;
    }

    ul {
      display: inline-flex;

      > li > a {
        width: 16px;
        height: 16px;
        border: 1px solid #222222;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          border-bottom: 2px solid #ec008c;
          display: block;
          width: 21px;
          bottom: -5px;
          left: -3px;
          @include transform(scaleX(0));
          @include transition(all, 0.3s, ease 0s)
        }

        &:hover, &.active {
          &:after {
            @include transform(scaleX(1));
          }
        }
      }
    }
  }
  .spd-select-size {
    span {
      display: inline-block;
    }
  }
  .spd-meta {
    &-cat {
      span {
        display: inline-block;
      }
    }
    &-tags {
      span {
        display: inline-block;
      }
    }
  }
  .spd-share {
    span {
      display: inline-block;
    }
  }
  .spt-tab li {
    width: 50%;
  }

  #cleaning {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    li {
      margin-right: 10px;
      margin-bottom: 20px;
      span {
        font-size: 40px;
      }
    }
  }
}