@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";
@import "~owl.carousel";
@import "../Components/common-product";
@import "../../../scss/laundry/pe-laundry-icons.css";
@import "~@staaky/tipped/dist/css/tipped.css";
@import "../Components/youtube";
@import "~fotorama/fotorama.css";
@import "../colors";

.product-page {
  .spd-select-color {
    display: flex;
    align-items: center;

    span {
      display: inline-block;
    }

    ul {
      display: inline-flex;

      > li > a {
        width: 16px;
        height: 16px;
        border: 1px solid #222222;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          border-bottom: 2px solid #ec008c;
          display: block;
          width: 21px;
          bottom: -5px;
          left: -3px;
          @include transform(scaleX(0));
          @include transition(all, 0.3s, ease 0s)
        }

        &:hover, &.active {
          &:after {
            @include transform(scaleX(1));
          }
        }
      }
    }
  }
  .spd-price {
    color: $black-color;
    font-weight: 600;
  }

  .spd-old-price {
    color: $old-price;
    text-decoration: line-through;
  }

  .spd-select-size {
    span {
      display: inline-block;
    }
    ul {
      li {
        a {
          &.unavailable {
            opacity: 0.5;
            position: relative;

            &:after {
              content: '';
              position: absolute;
              border-bottom: 1px solid $site-color;
              display: block;
              width: 40px;
              top: 44%;
              left: -17%;
              rotate: 135deg;
            }
          }
        }
      }
    }
  }

  .spd-meta {
    &-cat {
      span {
        display: inline-block;
      }
    }

    &-tags {
      span {
        display: inline-block;
      }
    }
  }

  .spd-share {
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 21px;
    padding: 0 0 30px;

    span {
      display: inline-block;
    }
  }

  .spd-youtube-btn {
    button {
      background: #a70303 none repeat scroll 0 0;
      border: 0 none;
      color: #e5e5e5;
      font-size: 13px;
      height: 40px;
      letter-spacing: 0;
      padding: 0 25px;
    }
  }
  .spt-tab li {
    width: 33.33%;
  }

  #cleaning {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    li {
      margin-right: 10px;
      margin-bottom: 20px;
      span {
        font-size: 40px;
      }
    }
  }

  .product-tab-area {
    .fotorama__fullscreen-icon {
      top: 50%;
      left: 50%;
      background: hsla(0, 0%, 100%, .7) none repeat scroll 0 0;
      border-radius: 100px;
      color: #232530;
      transform: translateY(-50%) translateX(-50%);
      width: 50px;
      //font-size: 24px;
      height: 50px;
      line-height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:before {
        font-family: FontAwesome;
        content: "\f00e";
        font-size: 2em;
      }
    }
  }


  .fotorama--fullscreen {
    .fotorama__stage {
      background: $white;

      .fotorama__fullscreen-icon {
        margin: 0;
        padding: 0;
        border: 0;
        background: none;
        width: 50px;
        height: 50px;

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: calc((50px - 1px) / 2);
          left: 0;
          right: 0;
          height: 1px;
          background: #000;
          border-radius: 1px;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }

      .fotorama__arr--prev {
        background: none;
        font-size: 5rem;
        border-bottom: 6px solid;
        border-left: 6px solid;
        transform: rotate(45deg);
        left: 40px;
      }

      .fotorama__arr--next {
        background: none;
        font-size: 5rem;
        border-bottom: 6px solid;
        border-left: 6px solid;
        transform: rotate(-135deg);
        right: 40px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .product-tab-area {
      .fotorama__nav, .fotorama__nav--thumbs, .fotorama__nav__shaft {
        width: 100%;
      }

      .fotorama__nav-wrap {
        width: 25%;
        float: right;
        overflow: hidden;
        height: 700px
      }

      .fotorama__stage {
        float: left;
        width: 72% !important;
      }

      .fotorama__stage__shaft, .fotorama__stage__frame {
        width: 100% !important;
      }

      .fotorama__stage__shaft {
        .fotorama__img {
          width: 100%;
          height: 100% !important;
          left: 0 !important;
        }
      }

      .fotorama__nav__frame--thumb {
        display: block;
        float: none;
      }

      .fotorama__thumb-border {
        display: none !important;
      }

      .fotorama__nav__frame {
        &.fotorama__nav__frame--thumb {
          height: 140px !important;

          &.fotorama__active {
            img {
              border: 1px solid #f00 !important;
            }
          }
        }
      }

      .fotorama__nav__frame {
        width: auto !important
      }

      .fotorama__thumb {
        background-color: transparent !important;

        img {
          width: auto !important;
          height: 100% !important;
          top: 0 !important;
        }
      }

      .fotorama__arr--prev {
        background: none;
        font-size: 5rem;
        border-bottom: 6px solid;
        border-left: 6px solid;
        transform: rotate(45deg);
        left: 20px;
      }

      .fotorama__arr--next {
        background: none;
        font-size: 5rem;
        border-bottom: 6px solid;
        border-left: 6px solid;
        transform: rotate(-135deg);
        right: 20px;
      }
    }
  }
}
