@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .menu {
    .menu-list {
      li {
        .mega-menu-part {

          .mega-menu-content {
            > a {
              padding: 0 !important;
            }
          }

          .mega-menu-img {
            > a {
              padding-bottom: 5px !important;
            }
          }
        }

        .menu-dropdown {
          &.with-img {
            li {
              > a {
                padding: 8px 5px !important;
              }
            }

            > a {
              padding-bottom: 5px !important;
            }
          }
        }
      }
    }
  }
}

@include xl {
  .m-t-2-xl {
    margin-top: 2rem;
  }

  .m-bt-2-xl {
    margin-bottom: 2rem;
  }

  .m-bt-3-xl {
    margin-bottom: 3rem;
  }
}

@include lg {
  .m-t-2-lg {
    margin-top: 2rem;
  }

  .m-bt-2-lg {
    margin-bottom: 2rem;
  }

  .m-bt-3-lg {
    margin-bottom: 3rem;
  }
}

@include sm {
//@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .m-t-2-sm {
    margin-top: 2rem;
  }

  .m-bt-2-sm {
    margin-bottom: 2rem;
  }

  .m-bt-3-sm {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 767px) {
  .m-t-2-xs {
    margin-top: 2rem;
  }

  .m-bt-2-xs {
    margin-bottom: 2rem;
  }

  .m-bt-3-xs {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .m-t-2-xss {
    margin-top: 2rem;
  }

  .m-bt-2-xss {
    margin-bottom: 2rem;
  }

  .m-bt-3-xss {
    margin-bottom: 3rem;
  }
}

// foldable devices - only for samsung
@media only screen and (min-resolution: 2.0dppx) and (min-width: 717px) {
  .col-fold-6,
  .col-fold-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
  .col-fold {
    &-12 {
      width: 100%;
    }
    &-6 {
      width: 50%;
    }
  }
}
