.invoice {
  .product-area {
    table {
      td{
        &.color {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .color-box {
            width: 20px;
            height: 20px;
            display: block;
          }
        }
      }
    }
  }
}
